<mat-accordion>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>{{ flag().label }} </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-slide-toggle
      (change)="change.emit(flag())"
      [disabled]="loading()"
      [checked]="flag().value"
      labelPosition="before"
      >Global value:</mat-slide-toggle
    >
    <div>
      @for (group of flag().groups; track group.id) {
        <mat-slide-toggle
          [checked]="group.value"
          [disabled]="loading()"
          labelPosition="before"
          (change)="changeGroupWrapper(flag(), group)"
          >Value for group "{{ group.id }}"</mat-slide-toggle
        >
      }
    </div>
  </mat-expansion-panel>
</mat-accordion>
